.container {
    display: flex;
    padding: 8px 12px;
    border-radius: 200px;  
    cursor: pointer;
}

.icon {
    font-size: 25px;
    margin: 0 5px;
}

.value {
    font-size: 11px;
    display: block;
    white-space: nowrap;
    margin: 0 5px;
}

.bag-with-item {
    background-color: red;
    color: white;
}