.container {
    display: flex;
    padding: 8px 12px;
    border-radius: 200px;  
    cursor: pointer;
    width: 100%;
    justify-content: center;
}

.container:hover{
    background-color: #F7F7F7;
}

.icon {
    font-size: 25px;
    margin: 0 5px;
}

.value {
    font-size: 11px;
    display: block;
    white-space: nowrap;
}

.bagWithItens {
    background-color: red;
    color: white;
}

.bagWithItens:hover{
    background-color: red;
}