* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0px;
}

:root {
  --white: #fff;

  --purple: #893985;
  --grey: #F7F7F7;
}

body {
  background-color: var(--white);
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Roboto', sans-serif;
}

input {
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}