.header {
    padding: 20px 150px 20px 150px;

    span {
        color: red;
    }
}

.searchNav {
    border-bottom: 1px solid #f5f0eb;
    margin: 10px 0 10px 0;
}

.searchButton {
    background: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    font-weight: bold;
    padding: 18px;
    color: #a6a29f;
    cursor: pointer;
}

.searchButtonSelected{
    border-bottom: 2px solid red;
    border-bottom-color: currentcolor;
    color: #ea1d2c;
}

.itemsCard {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.result {
    padding: 10px;
    color: #3e3e3e;
}

.stores {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media(max-width: 1700px) {
    .header {
        padding: 20px;
    }

    .itemsCard {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media(max-width: 1350px) {
    .itemsCard {
        grid-template-columns: repeat(5, 1fr);
    }

    .stores {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 1170px) {
    .itemsCard {
        grid-template-columns: repeat(4, 1fr);
    }

    .stores {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 970px) {
    .itemsCard {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 700px) {
    .itemsCard {
        grid-template-columns: repeat(2, 1fr);
    }

    .stores {
        grid-template-columns: repeat(1, 1fr);
    }
}