.container-input {
    align-items: center;
    background-color: #F7F7F7;  
    display: flex;
    width: 100%;
    padding: 14px 16px;
    border-radius: 10px;   
    gap: 5px; 
}
  
.input {
    outline: none;
    width: 100%;
    background-color: #F7F7F7;
}

.icon {
    color: red;
    font-weight: bold;
}